page-home {
    .scroll-content{
        overflow: hidden;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    ion-card, ion-card-content, ion-grid{
        margin:0px!important;
        padding:0px!important;
        width:100%!important;
    }
    ion-card{
        margin-top:10px!important;
        height:20%!important;   
    }


    //test
    ion-grid{
        .div1{
            .div1_img{
                width:80%!important;
                margin:0px auto; 
            }
    
            .div1_distance{
                width:80%!important;
                margin:0px auto;
    
                ion-icon{
                    padding-right:2px;
                }
            }
        }

        .div2{
            padding:0px!important;
            h4{
                font-size: 2.5vh;
            }

            .div2_title{
                height:30%!important;
                color:#7b8189;
                margin-bottom: 2%!important;
            }

            .div2_category{
                height:30%!important;
                font-size: 12px;
            }

            .div2_delivery_info{
                width:80%;
                height:20%;
                font-size: 12px;
                span{
                    width:50%;
                    color:rgb(59, 29, 29);
                    border-right:solid 1px#d9dce0;
                }
                .div_delivery_info_border{
                    border-left:solid 1px#d9dce0;
                }
            }

            .div2_title, .div2_category, .div2_delivery_info{
                margin:0px!important;
                display: flex!important;
                align-content: center!important;
                align-items: center!important;
            }
        }

    }

}
