<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
 
<ion-content>
    <ion-card>
        <ion-card-content class="div">
            <div class="div1">
              <img src="../assets/imgs/pro_logo.png">
              </div>
              <div class="div2">
                  <span>Adils Takeaway</span>
              </div>
              <div class="div3">
                  <i>Indian, Chinese, American</i>
              </div>
              <div class="div4">
                  <span text-center>Delivery</span>
                  <span text-center>Min Order</span>
                  <span text-center>Distance</span>
              </div>                         
        </ion-card-content>
    </ion-card>
  <ion-list class="accordion-list">
    <!-- First Level -->
    <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
      <!-- Toggle Button -->
      <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
        <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
          {{ item.category_name }}
      </button>
      <ion-list *ngIf="item.category_child && item.open" no-lines>
        <!-- Second Level -->
        <ion-list-header *ngFor="let child of item.category_child; let j = index" no-padding>
 
          <!-- Direct Add Button as Fallback -->
          <ion-item *ngIf="!child.category_child" ion-item detail-none class="child-item" text-wrap>
            <h2>{{ child.item_topic }}</h2>
            <p text-lowercase *ngIf="child.item_desc_yn === 'Y'">{{ child.item_desc }}</p>
            <button ion-button outline item-end (click)="buyItem(child)">{{ child.price }}</button>
          </ion-item>
        </ion-list-header>
      </ion-list>      
    </ion-list-header>
  </ion-list>
</ion-content>