page-showmenu {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .div{
        //background:green;
        width:100%!important;
        height:100%!important;
        background: #fffd76;
        .div1{
            height:50%!important;
            //background:yellow;

            img{
                max-width: 22.5%!important;
                max-height:100%!important;
                margin:0px auto;
            }
        }

        .div2{
            height:15%!important;
            //background:orange;
            text-align: center;
        }

        .div3{
            height:10%!important;
            //background:maroon;
            font-size:x-small;
            text-align: center;
        }

        .div4{
            height:25%!important;
            padding:0px!important;
            margin:0px!important;
            span{
                width:33.33%!important;
                height:50%!important;
                float:left;
                border-left:solid 1px gray;
                font-size: small;
                background:#dddf7a;
            }
        }
    }

    ion-navbar, ion-header{
       background:#fffd76!important; 
    }

    .accordion-list {
        background: color($colors, light);
        height: auto;
   
        .section {
            background:#fff;
            color: #000;
        }

        .section-active {
            background: #fffd76;
            color: #000;
        }
        
        .child-item {
            background:#f3f2f1;
            padding: 2px;
            border-bottom:1px solid gray;
        }

        .label {
            margin: 0px!important;
            padding:0px!important;
        }

        h2{
            text-transform: capitalize;
        }

        .inner_item{
            margin: 0px!important;
            padding:0px;
        }

        .item_desc{
            padding:10px;
            text-align: justify;
        }

        .price{
            width:20%!important;
        }
    }

    ion-card, .div, ion-list-header{
        padding:0px!important;
        margin:0px!important;
    }

    ion-card{
        width:100%!important;   
        height:30%!important;  
    }

}
